/****************************************************************
*   Author  : Mendez Grégory
*   Date    : 23.11.2020
*   Project : Rave Maquette
*   File    : Css of the project
****************************************************************/

body {
  margin: 0;
  font-family: neuzeit-grotesk, sans-serif;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: 0.1px;
  overflow-x: hidden;
}

h2 {
  text-align: center;
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 10px;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 0.45px;
}

.button:hover {
  color: #ff6969;
}

.button--corps {
  background-color: #ff6969;
  font-weight: bold;
  margin-top: 10px;
}

.button--corps:hover {
  color: #000000;
}

.button--corps--empty {
  background-color: #FFFFFF;
  font-weight: 700;
  margin-top: 10px;
  color: #ff6969;
  border-style: solid;
  border-color: #ff6969;
  border-width: 1px;
  padding-left: 30px;
  padding-right: 30px;
}

.button--corps--empty:hover {
  background-color: #ff6969;
  color: #FFFFFF;
}

.text--biggest--size {
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: normal;
}

.text--giant--size {
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: normal;
}

.text--big--size {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: normal;
}

.text--bigNormal--size {
  font-size: 16px;
}

.text--normal--size {
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 14px;
}

.text--small--size {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.08px;
}

.text--light {
  font-weight: lighter;
}

.text--bold {
  font-weight: bold;
}

.text--black {
  color: #000000;
}

.text--very--light--black {
  color: #AAAAAA;
}

.text--light--black {
  color: #222222;
}

.text--light--gray {
  color: #8a8a8a;
}

.text--title {
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.45px;
}

.text--item--subtitle {
  font-size: 10px;
  font-weight: normal;
}

.triangle {
  fill: #ff6969;
}

.block_display {
  display: block;
}

.input {
  font-family: neuzeit-grotesk, FontAwesome, sans-serif;
  font-size: 16px;
  padding: 15px 10px;
  width: 40%;
  border: none;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff6969;
}

/*********************************************
*   container
**********************************************/
.container {
  margin-left: 18%;
  width: 60%;
  padding-bottom: 80px;
  padding-top: 75px;
}

.nav__container {
  padding-top: 0;
  padding-bottom: 50px;
}

.header__container {
  padding-top: 0;
  z-index: 1;
}
.travel__container {
  padding-bottom: 0px;
}

.destinations__container {
  padding-bottom: 25px;
}

.bestSellings__container {
  padding-bottom: 0;
}

.recommendations__container  {
  text-align: center;
  margin-top: 20px;
}

.unforgettable__container {
  padding-bottom: 30px;
}

.footer__container {
  padding-bottom: 10px;
}

.container__button__right {
  float:  right;
  display: inline-block;
}

/*********************************************
*    header                                  *
*********************************************/
header {
  background-color: #aaaaaa;
  color: #ffffff;
}

/* nav */
header nav {
  padding: 20px;
  font-style: normal;
  font-weight: bold;
}

nav img {
  float: left;
}

nav a {
  color: #ffffff;
}

nav a+a {
  margin-left: 5%;
}

.nav__lang-tel{
    width: 20%;
    float: right;
    text-align: right;
}

/* header content */
header h1 {
  max-width: 45%;
  position: relative;
  margin-bottom: 15px;
}

.button--header {
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
}

.button__header {
  display: block;
  width: 28%;
  margin-top: 1rem;
}

.button__header__nav {
  margin-top: -20px;
  padding: 10px 10px;
}

.button--header--nav {
  font-size: 15px;
}

.phone__icon {
  font-size: 18px;
  transform: rotate(-45deg);
}

#bubbleImg{
  position: absolute;
  top: 120px;
  left: 16%;
  width: 8.8%;
}

.mediaPlayer {
  margin-top: -80px;
  margin-left: -100px;
}

.mediaPlayer span {
  display: block;
  padding-top: 10px;
  text-transform: uppercase;
}


/***********************************************
* section info
***********************************************/
.section__info {
  background-color: #f6f6f6;
}

.info__container__info {
  width: 45%;
  display: inline-block;
  margin-bottom: 100px;
}

.info__container__info__title {
  margin-bottom: 40px;
}

.info__container__info__button {
  padding-left: 40px;
  padding-right: 40px;
}

.info__container__text {
  width: 75%;
  line-height: 1.6;
  letter-spacing: 0.1px;
}

.info__container__text+.info__container__text {
  margin-bottom: 40px;
}

#award_winning {
  color: #ff6969;
}

.mediaPlayer {
  position: absolute;
  top: 250px;
  left: 75%;
  text-align: center;
}

.info__images {
  width: 55%;
  height: 3s00px;
  display: inline-block;
  float: right;
  text-align: right;
}

.info__col {
  width: 48%;
  display: inline-block;
}

.info__imagesContainer {
  background-color: #aaaaaa;
  height: 270px;
  border-radius: 2px;
}

.info__imagesContainer+.info__imagesContainer {
  margin-top: 5px;
}

.info__first__image {
  transform: translateY(-80px);
}

.info__third__image {
  height: 190px;
  width: 70%;
}

/********************************************************
*    section travel
********************************************************/
.travel__items {
  padding-top: 35px;
  display: inline-block;
  width: 20%;
  text-align: center;
}

.travel__items__title {
  padding-top: 20px;
}

.travel__items+.travel__items {
  margin-left:6%;
}

/***********************************************************
*   section destinations
***********************************************************/
.section__destinations {
  text-align: center;
}

.destinations__items {
  width: 23.8%;
  display: inline-block;
  padding-top: 20px;
  text-align: left;
}

.destinations__items+.destinations__items {
  margin-left: 1%;
}

.destinations__items__imageContainer {
  width: 100%;
  height: 250px;
  background-color: #aaaaaa;
  border-radius: 2px;
}

.destinations__container span {
  padding-top: 40px;
}

.destinations__items__title {
  margin-bottom: 0;
  margin-top: 10px;
}

.destinations__items__subtitle {
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.destinations__items__duration {
  margin-top: 15px;
}

.button--destination {
  background-color: #FFFFFF;
  font-weight: 700;
  margin-top: 10px;
  color: #ff6969;
  border-style: solid;
  border-color: #ff6969;
  border-width: 1px;
}

.button--destination:hover {
  background-color: #ff6969;
  color: #FFFFFF;
}

/*****************************************************************************
*   section best sellings Tours
*****************************************************************************/

.bestSellings__caroussel__items {
  background-image: linear-gradient(to bottom, #aaaaaa, #222222);
  color: #ffffff;
  width: 100%;
  height: 400px;
  margin-bottom: 5px;
  text-align: left;
  border-radius: 5px;
}

.caroussel_items_circle {
  margin-top: 40px;
  margin-left: 40px;
  line-height: 1.6;
  letter-spacing: normal;
}

.bestSellings__caroussel
{
  position: relative;
}

.bestSellings__title {
    display: inline-block;
}

#firstCarousselItem {
  position: absolute;
  left: -100.5%;
}

#lastCarousselItem {
  position: absolute;
  left: 100.5%;
  top: 0;
}

.bestSellings__caroussel__items--title{
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.bestSellings__caroussel__items__subtitle{
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bestSellings__caroussel__items__text {
  margin-left: 40px;
  margin-top: 170px;
}

.bestSellings__button {
  float: right;
  margin-right: 40px;
  margin-top: -50px;
  padding-left: 30px;
  padding-right: 30px;
}

.bestSellings__caroussel__items__text--price {
  color: white;
}

.bestSellings__caroussel__items--newPrice {
  color: #ff6969;
}

.bestSellings__caroussel__items--oldPrice {
  text-decoration: line-through;
}

.bestSellings__rate {
  margin-bottom: 10px;
}

.bestSellings__rate i {
  color: yellow;

}
.bestSellings__rate i+i {
  margin-left: 2px;
}

.bestSellings__rate span{
  margin-left: 1%;
}

.text__circle {
  letter-spacing: 0.8px;
}

.bestSellings__arrows {
  display: inline-block;
  padding-top: 10px;
  float: right;
}

.bestSellings__left__arrow {
  opacity: 0.5;
  margin-right: 5px;
}

/**************************************************************************
*   section unforgettable__item
**************************************************************************/
.unforgettable__imagesContainer__firstCol {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.unforgettable__imagesContainer__secondCol {
  width: 24%;
  height: 100%;
  display: inline-block;
  margin-left: 0.4%;
}

.unforgettable__imagesContainer__thirdCol {
  width: 24%;
  height: 100%;
  margin-left: 0.4%;
  display: inline-block;
}

.unforgettable__imagesContainer__table {
  height: 400px;
  text-align: center;
  color: #ffffff;
}

.unforgettable__item {
  opacity: 0.5;
  border-radius: 2px;
  text-align: center;
}

.safari {
  background-color: #000000;
  height: 100%;
}

.wellness__text {
  padding-top: 38%;
}

.trekking__text {
  padding-top: 50%;
}

.photo__text {
  padding-top: 38%;
}

.safari__text {
  padding-top: 40.5%;
}

.food__text {
  padding-top: 38%;
}

.unforgettable__food__button {
  margin-top: 30px;
}

.button--food--empty {
  background-color: #ffffff;
}

.wellness {
  height: 39%;
  background-color: #AAAAAA;
  margin-bottom: 4%;
}

.FoodAndDrinks {
  background-color: #000000;
  height: 59%;
}

.trekking {
  background-color: #000000;
  height: 59%;
  margin-bottom: 4%;
}

.photography {
  background-color: #AAAAAA;
  height: 39%;
}

.unforgettable__imagesContainer {
  position: relative;
}

.unforgettable__subtitle {
  text-align: center;
  display: block;
  padding-bottom: 50px;
}

.unforgettable__title {
  margin-bottom: 5px;
}

.unforgettable__safari__item__text {
  position: absolute;
  top: 150px;
  left: 21%;
}

.unforgettable__wellness__item__text {
  position: absolute;
  top: 50px;
  left: 60%;
}

.unforgettable__food__item__text {
  position: absolute;
  top: 180px;
  left: 55%;
}

.unforgettable__trekking__item__text {
  position: absolute;
  top: 80px;
  left: 85%;
}

.unforgettable__photo__item__text {
  position: absolute;
  top: 280px;
  left: 83%;
}

/**************************************************************************
*     section recomendations
*************************************************************************/
.section__recomendations {
  background-color: #f5f6f7;
}

.recommendations__item {
  display: inline-block;
  width: 37%;
  text-align: left;
  margin-bottom: 50px;
}

.recommendations__item p {
  line-height: 1.5;
  letter-spacing: normal;
  padding-top: 10px;
}

.recommendations__item+.recommendations__item {
  margin-left: 25%;
}

.recommendations__item__person {
  margin-top: 25px;
}

.recommendations__person__image {
  background-color: #aaaaaa;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  float: left;
}

.recommendations__item__person__info {
  margin-left: 60px;
}

.recommendations__item__person__name {
  margin-bottom: 0;
}

.recommendations__item__person__country {
  margin-top: 2px;
}

.recommendations__container img {
  padding-top: 25px;
  padding-bottom: 25px;
}
.section__trust{
  width: 100%;
  background-color: white;
}

/*****************************************************************************
*   section special Deals
***************************************************************************/
.specialDeals__container h2 {
  text-align: left;
}

.specialDeals__container nav {
  text-align: left;
  border-bottom-style: solid;
  border-color: #dddddd;
  border-bottom-width: 2px;
  padding: 20px 0;
}

.specialDeals__container h3 {
  margin-bottom: 5px;
}

.specialDeals__container p {
  margin-top: 0;
  padding-bottom: 5px;
}

.specialDeals__container__button {
  margin-top: 50px;
}

.specialDeals__table__item {
  padding-top: 20px;
  width: 49%;
  display: inline-block;
}

.specialDeals__table {
  text-align: left;
  width: 100%;
}

.button--nav--specialDeals {
  background-color: #FFFFFF;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 0px;

  padding-bottom: 21px;
  text-align: center;
}

.button--nav--specialDeals+.button--nav--specialDeals{
  margin-left: 20px;
}

.button--nav--specialDeals:focus {
  border-color: #ff6969;
  color: #ff6969;
}

.specialDeals__items__imageContainer {
  background-color: #aaaaaa;
  height: 120px;
  width: 25%;
  display: inline-block;
  margin-right: 10px;
  transform: translateY(17px);
  text-align: left;
}

.specialDeals__table__item+.specialDeals__table__item {
  margin-left: 10px;
}

.specialDeals__items__info {
  display: inline-block;
  width: 70%;
  text-align: left;
}

.section__specialDeals h2 {
  margin-bottom: 0;
}

.specialDeals__item__subtitle {
  margin-top: 5px;
}

.specialDeals__button {
  padding: 10px 20px;
}

/*****************************************************************************
*   section travel inspiration
*****************************************************************************/
.section__inspiration h2 {
  display: inline-block;
  text-align: left;
}

.inspiration__container__button {
  margin-top: 30px;
}

.inspiration__container__table {
  margin-top: 10px;
}

.inspiration__container__item {
  width: 32%;
  display: inline-block;
  text-align: center;
}

.inspiration__item__image {
  height: 200px;
  width: 100%;
  background-color: #AAAAAA;
  margin-bottom: 10px;
  border-radius: 2px;
}

.inspiration__container__item+.inspiration__container__item {
  margin-left: 12px;
}

.inspiration__item__info {
  text-align: left;
}

.inspiration__item__info__paragraphe {
  margin: 20px 0;
}

.inspiration__item__info__title {
  margin-top: 5px;
}

/****************************************************
*   section newsletter
*****************************************************/
.section__newsletter {
  color: #FFFFFF;
  width: 100%;
  background-color: #000000;
  text-align: center;
}
.newsletter__buttons {
  display:inline-block;
  transform: translate(-5px);
}

.button__newsletter {
  border: none;
  padding: 20px 25px 19px;
  border-radius: 0 5px 5px 0;
  font-size: 14px;
}

.newsletter__subtitle {
  margin-top: 5px;
}

.newsletter--subtitle {
  color: #ffffff;
  font-weight: lighter;
}

.input__newsletter {
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 50%;
  height: 25px;
}

/*********************************************
*    footer                                  *
*********************************************/
footer div {
  float: left;
}

.footer__ressources, .footer__community, .footer__about, .footer__social {
  width: 25%;
}

.footer__a--title {
  margin-bottom: 35px;
}

footer a+a, .footer__social__icons {
  margin-top: 25px;
}

.footer__social__icons {
  margin-top: 50px;
  margin-left: -35%;
}

.footer__social__icons a+a {
  margin-left: 10px;
}

.footer__info {
  margin-top: 70px;
  width: 100%;
}

.copyright {
  float:left;
}

.conditions {
  float: right;
}

.active {
  color: #ff6969;
  border-color: #ff6969;
  border-bottom-style: solid;
}

.active--link {
  color: #ff6969;
}
